body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    border-bottom: 1px solid #333;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.row{
    width: 30%;
}

.card-body {
    padding: 2rem;
}

.btn-primary {
    background-color: #007FFF;
    border: none;
}

.btn-primary:hover {
    background-color: #007FFF;
}