body {
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Tambahkan baris ini untuk tata letak vertikal */
}

.kiri {
    width: 300px;
}

label {
    display: block;
    margin-top: 10px;
}

select,
input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.button-right {
    text-align: right; /* Menggeser tombol ke kanan */
}

button {
    background-color: #007FFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav{
    border-bottom: 1px solid #333;
}

button:hover {
    background-color: #007FFF;
}
