.nav {
    border-bottom: 1px solid #333;
    height: 10%;
}

body{
    height: 100vh;
    width: 100%;
}

.nav a{
    margin-top: 10%;
}

.container {
    height: 90%;
    width: 100%;
    display: flex;
}
.kiri {
    height: 100%;
    width: 50%;
}
.kanan {
    height: 100%;
    width: 50%;
}

.sem123{
    width: 100%;
    height: 20%;
    display: flex;
    margin-top: 10%;
}

.sem1, .sem2, .sem3{
    height: 100%;
    width: 25%;
    margin-left: 6%;
}
.sem1 {
    text-align: center;
    background-color: azure;
    border: 3px solid #333;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.sem1 label {
    margin-top: 10%;
}

.sem1 button {
    margin-top: 10%;
}

.sem456{
    margin-top: 10%;
    width: 100%;
    display: flex;
    height: 20%;
}
.sem789{
    margin-top: 10%;
    width: 100%;
    height: 20%;
    display: flex;
}